{% from "./components/ui/input.html" import input %}
{% from "./components/ui/select.html" import select %}

<tr>
    <td>0</td>
    <td>
        {{ input(id='name', name='name', label='Plant Name', type="text", required=true, class='plant-input') }}
    </td>

    <td>
        {{ input(id='species', name='species', label='Plant Species', type="text", required=true, class='plant-input') }}
    </td>

    <td>
        {{ input(id='description', name='description', label='Plant Description', type="text", required=true, class='plant-input') }}
    </td>

    <td>
        {{ input(id='image_url', name='image_url', label='Plant Image', type="text", required=true, class='plant-input') }}
    </td>

    <td>
        {{ select(id='water_needs',
                 name='water_needs',
                 label='Water Needs',
                 options={
                     'low': 'Low Water Needs',
                     'moderate': 'Moderate Water Needs',
                     'high': 'High Water Needs'
                 },
                 value='moderate',
                 class='plant-input') }}
    </td>

    <td>
        {{ select(id='light_needs',
                 name='light_needs',
                 label='Light Needs',
                 options={
                     'low': 'Low Light Needs',
                     'moderate': 'Moderate Light Needs',
                     'high': 'High Light Needs'
                 },
                 value='moderate',
                 class='plant-input') }}
    </td>

    <td>
        {{ select(id='temperature_preference',
                 name='temperature_preference',
                 label='Temperature',
                 options={
                     'cold': 'Cold (Below 15°C)',
                     'moderate': 'Moderate (15-25°C)',
                     'warm': 'Warm (Above 25°C)'
                 },
                 value='moderate',
                 class='plant-input') }}
    </td>

    <td>
        {{ select(id='humidity_needs',
                 name='humidity_needs',
                 label='Humidity',
                 options={
                     'low': 'Low Humidity',
                     'moderate': 'Moderate Humidity',
                     'high': 'High Humidity'
                 },
                 value='moderate',
                 class='plant-input') }}
    </td>

    <td>
        {{ select(id='location',
                 name='location',
                 label='Location',
                 options={
                     'indoor': 'Indoor Only',
                     'outdoor': 'Outdoor Only',
                     'both': 'Both Indoor & Outdoor'
                 },
                 value='both',
                 class='plant-input') }}
    </td>

    <td>
        <button 
            type="button"
            hx-post=""
            hx-target="closest tr"
            hx-ext="json-enc"
            hx-swap="outerHTML"
            hx-include=".plant-input" 
            class="hover:text-green-600 p-4 transition-colors">
            <i class="fa-solid fa-check"></i>
        </button>
    </td>
    <td>
        <button hx-get="fragments/cancel-add-row"
                hx-target="closest tr"
                hx-swap="delete"
                type="button"
                class="hover:text-red-600 p-4 transition-colors"
        >
            <i class="fa-solid fa-xmark"></i>
        </button>
    </td>
</tr>
